.nav-links a:hover {
	color: #dca54a;
}

.introduction a:hover {
	text-decoration-color: black;
}

.introduction-2 a:hover {
	text-decoration-color: black;
}

.overlay:hover:after {
    opacity: 1;
}

.overlay:hover .overlay-text {
    opacity: 1;
}

.overlay:hover img {
	transform: scale(1.05);
}

.next-page a:hover::after {
	width: 100%;
	opacity: 1;
}

.top-btn:hover {
	border-radius: 50%;
}

.specialties-toggle:checked + .specialties-summary + .specialties-details-content {
	max-height: 400px; 
	opacity: 1;
}

.specialties-summary:hover {
	transform: scale(1.03);
}

.specialties-toggle:checked + .specialties-summary .fa-arrow-left {
	transform: rotate(-90deg);
}

.logo:hover {
	fill: #dca54a
}